@{
    ViewData["Title"] = "Home Page";
}

<h1 hidden>@User.Identity.Name</h1>

<div class="pagespace">

    <h1 class="heading">Начало</h1>

    <p class="fronttext">
        Периферни устройства (разделяни понякога на запаметяващи и входно-изходни устройства) е общ израз за всички спомагателни
        устройства, които увеличават функционалността на компютрите, като улесняват и разширяват връзката им с околния свят.
        Чрез тях се въвеждат и извеждат команди, информация и резултатите от изпълнението на зададените програми.
        Резултатите и информацията могат да се видят директно от човека или пък могат да бъдат препратени към друга машина,
        контролирана от компютъра: например принтер, факс, мрежови устройства за връзка с други компютри.
    </p>

    <p class="fronttext">
        Съществуват три основни групи периферни устройства: входни, изходни и входно-изходни.
        Те са групирани по това дали вкарват или изкарват информация от компютъра.
        Първата група са входните устройствата като клавиатура, мишка и микрофон, които вкарват информация в компютъра.
        Втората група са изходните устройствата като принтери, плотери и монитори, които изкарват информация от компютъра.
        Устройства като твърд диск, флопи-диск, компакт-диск, USB памет и др. са входно-изходни защото записват и вкарват информация в компютъра.
        Те представляват сравнително бавна памет с голям капацитет, в които информацията се съхранява временно.
        Входно-изходни са включително и устройствата, свързани с осъществяването на достъп до компютърни мрежи като рутери и модеми.

        Възможността за обмен на данни между различни компютри открива широки възможности за разгръщане на приложението им.
        Глобалната мрежа Интернет позволява милиони компютри да комуникират помежду си.
    </p>

</div>