@model List<PerifernaChast>

<div class="pagespace">
    <p class="fronttext">

        <h2 class="heading">Входни периферни устройства</h2>

        Входните устройствата са устройства като клавиатура, мишка и микрофон и се наричат входни защото пращат сигнали и
        информация към компютъра.

        Клавиатурата и мишката преобразуват физическите движения на потребителя във входни сигнали, разбираеми за компютъра;
        изходният сигнал на тези устройства представлява входен сигнал за компютъра. Подобно на тях, мониторите и принтерите
        приемат сигналите от компютъра като входни и ги превръщат във вид, разбираем за хората. От гледна точка на потребител
        човек, процесът на виждане и четене на техните резултати е входен сигнал. Взаимодействието между компютри
        и хора е предмет на дисциплината взаимодействие човек–компютър.
    </p>
    @if (User.Identity.Name == "kaloyan.kirchev@gmail.com")
    {
        <div class="butonspace">
            <a asp-area="" asp-controller="Periferia" asp-action="AddPeriferia">
                <button type="button" class="btnSecondary">Добави нова част</button>
            </a>
        </div>
    }


    @foreach (var chast in Model)
    {
        @if (chast.Type == "vhodni")
        {
            <div class="itemspace">
                <a asp-action="Preview" asp-route-id="@chast.Id">@chast.Name</a>
            </div>
        }

    }
</div>
